.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
    background-color: $deep-red;
    background-image: $header-image;
    background-repeat: no-repeat;
    background-position: center center;

  .footer-bar{
    text-align: center;
    .catalex-logo{
        background-image: url(~catalex_shared/images/law-browser-icon.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        margin:10px;
        display: inline-block;
        vertical-align: middle;
    }
    .browser-logo{
        $ratio: (106/269);
        background-image: url(~catalex_shared/images/law-browser.png);
        background-repeat: no-repeat;
        width: 40px / $ratio;
        height: 40px;
        background-size: 40px / $ratio 40px;
        margin:10px;
        display: inline-block;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        color: white;
        line-height: 40px;
        display: inline-block;
        margin: 10px;
        height: 40px;
        vertical-align: middle;
    }
  }
}