@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "~catalex_shared/sass/catalex-vars";

//$btn-default-border: #A6171D;
//$input-border:    $btn-default-border;
//$list-group-border: $btn-default-border;
$header-image:url("~catalex_shared/images/hero-bg.jpg");
$light-red: rgb(197, 27, 36);
$label-color: $text-color;
$input-border-width: 2px;
$body-bg:  #fff;
$font-size-base: 17px;
$btn-primary-color: white;
$btn-primary-bg: $light-red;
$btn-primary-border: $light-red;


@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";


@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";



@import 'logo';
@import "header";
@import "footer";

html {
  position: relative;
  min-height: 100%;
}

.body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  -webkit-font-smoothing: antialiased;
}


.title{
    h1{
        margin-top: 30px;
        color: $light-red;
        text-align:center;
        span{
            display:inline-block;
            vertical-align:middle;
        }
        .big{
            font-size:50px;
        }
        margin-bottom:0;
    }
}
.document-list{
    margin-top: 20px;
}

.document{
    float:left;
    position: relative;
    width: 170px;
    padding: 10px;
    margin: 10px;
    min-height:150px;
    cursor: move;
    background-color: white;
    background-color: #f8f8f8;
    border-radius: 8px;

    $font-size: 12px;
    $line-height: 1.4;
    $lines-to-show: 2;

    .filename {

      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
        text-align:center;
        margin-top: 4px;
    }

    .image{
        width: 150px;
        height: 212px;
        background-color:#efefef;
    }
    .progress{
        position:absolute;
        top: 120px;
        left: 10px;
        right: 10px;
        margin-bottom: 0;
        height: 16px;
    }
    .progress-leave {
      opacity: 1;
    }

    .progress-leave.progress-leave-active {
      opacity: 0.01;
      transition: opacity 500ms ease-in;
    }

    .remove{
         position: absolute;
        right: 10px;
        background-color: #666;
        top: 10px;
        border: none;
        border-radius: 8px;
        width: 29px;
        cursor: pointer;
        color: white;
        display:none;
    }
    &:hover .remove{
        display:block;
    }

}


.dropzone{
    .push-catch{
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    }
}


.button-bar{
    clear:both;
    text-align:center;
    margin: 20px;
}
