<!DOCTYPE html>
<html>
  <head>
  <title>ConCat - CataLex®</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content="Concatenate and Deskew PDFs"/>
        <link rel="icon" type="image/png" href="/favicon.png" >
          <link href="app.css" rel="stylesheet"></head>
  </head>

  <body>

  <iframe id="promo" src="https://catalex.nz/promo.html"
   frameborder="0"
   width="100%"
   style="display:block"
   height="59px"
   scrolling="no"
  ></iframe>

    <div id="main">


    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59849645-3', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.10/iframeResizer.js"></script>
    <script>iFrameResize({log:false}, '#promo')</script>

  </body>
</html>